.env
scripts/promises.js
.DS_Store
node_modules/

# TF
**/*.tfstate*
.terraform/

# Lambda
/infrastructure/lambda/py/*/fn/*

/infrastructure/lambda/*/*/fn/*helpers*
/infrastructure/lambda/*/*/fn/events.yml
/infrastructure/lambda/*/*/output/*

!/infrastructure/lambda/py/*/fn/index.py
!/infrastructure/lambda/py/*/fn/requirements.txt
!/infrastructure/lambda/py/*/fn/setup.cfg

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
